@media (max-width: 768px) {
    .menu-toggle {
      display: block;
      cursor: pointer;
      
    }
    .menu-toggle.active div:nth-child(1) {
      transform: rotate(45deg) translate(5px, 6px);
    }
  
    .menu-toggle.active div:nth-child(2) {
      opacity: 0;
    }
  
    .menu-toggle.active div:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -6px);
    }
    .links-container {
      display: none;
    }
    .links-container.active {
      display: flex;
      flex-direction: column;
      margin-left: 20%;    
      text-align: center;
      margin-top: 50%; 

    }
    .navbar.active {
      min-height: 100%;
      padding-top: -100px;
      
    }
    .logo.active{
        display: none;
    }
    .nav-container.active{
        margin-top: -20%;
    }
    .menu-toggle.active {
        margin-top: -70%;
        margin-left: 0%;
        margin-right: 70%;
    }
    .links-container a {
        font-size: 40px;
      }
      .links-container a:first-child {
        margin-left: 5%;
      }
    
  }
